{% ckan_extends %}

<!-- Pass c.country_codes to package_metadata_form.html.
FIXME: If ckan passed c to package_metadata_form.html anyway, we wouldn't need
to override this block here. -->
{% block form %}{{ h.snippet('package/snippets/package_basic_fields.html', data=data, errors=errors, include_metadata=false, pkg_name=pkg_name datatypes=c.datatypes) }{ h.snippet('package/snippets/resource_form.html', data=data, errors=errors, include_metadata=false, pkg_name=pkg_name keywords=c.keywords) }{ h.snippet('package/snippets/package_metadata_form.html', data=data, errors=errors, include_metadata=false, pkg_name=pkg_name, country_codes=c.country_codes, language=c.language) }}{% endblock %}
